<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mytoken</title>
    <link rel="stylesheet" href="/static/css/lib/superhero-bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/fontawesome/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/static/css/mytoken.css">
    {{> style }}
</head>
<body>
<div id="page-container">

    {{> navbar }}
    <div id="content-wrap">
            {{{embed}}}
    </div>
    {{> footer }}
</div>


<script src="/static/js/lib/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="></script>
<script src="/static/js/lib/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{{> scripts }}
</body>
</html>
