<div class="alert alert-danger border d-none email-not-verified-hint notify-entry-content-element">
    Your email address is not yet verified. Please verify it with the verification link we sent
    you or request a new verification code from <a href="/settings#notifications">Settings -> Notifications ->
    Email</a>.
</div>