<div class="alert alert-danger border d-none email-not-set-hint notify-entry-content-element">
    We currently do not have an email address linked to your identity. Please set an email
    address under <a href="/settings#notifications">Settings -> Notifications -> Email</a>.
</div>