<div id="{{prefix}}not-info-body" class="{{#collapse.Notifications}}collapse{{/collapse.Notifications}}">

    <div>
        {{>notifications/info-content-notifications}}
    </div>
    <div>
        {{>notifications/info-content-calendars}}
    </div>
</div>
