<div id="{{prefix}}not-info-body" class="{{#collapse.Notifications}}collapse{{/collapse.Notifications}}">

    {{#notifications-mail-enabled}}
        <div>
            {{>notifications/info-content-notifications}}
        </div>
    {{/notifications-mail-enabled}}
    {{#notifications-calendar-enabled}}
        <div>
            {{>notifications/info-content-calendars}}
        </div>
    {{/notifications-calendar-enabled}}
</div>
