{{#notifications}}
    <div class="modal fade" id="notifications-subscribe-modal" tabindex="-1" role="dialog"
         aria-labelledby="notifications-modal-title"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content bg-my_grey">
                <div class="modal-header">
                    <h5 class="modal-title" id="notifications-modal-title">Notifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input id="notify-id" type="text" hidden>
                    <div class="row">
                        {{#notifications-mail-enabled}}
                            <div class="col alert border mx-3">
                                <h5>Notifications</h5>
                                {{>notifications/info-content-notifications}}
                            </div>
                        {{/notifications-mail-enabled}}
                        {{#notifications-calendar-enabled}}
                            <div class="col alert border mx-3" id="notifications-calendarinfo-alert">
                                {{>notifications/info-content-calendars}}
                            </div>
                        {{/notifications-calendar-enabled}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/notifications}}