<div class="pb-3 row">
    <h4 class="col">Capabilities</h4>
    {{#collapse.Capabilities}}
        <button class="btn btn-info my-expand" type="button" data-toggle="collapse" data-target="#{{prefix}}cap-body"
                aria-expanded="false" aria-controls="{{prefix}}cap-body" id="{{prefix}}cap-expand">Expand
        </button>
    {{/collapse.Capabilities}}
</div>

<div id="{{prefix}}cap-summary" class="d-flex justify-content-between pb-2">
    <h4>
        <span class="badge badge-success badge-pill" id="{{prefix}}cap-summary-count-green" data-toggle="tooltip"
              data-placement="bottom" title=""
              data-original-title=""></span>
        <span class="badge badge-warning badge-pill" id="{{prefix}}cap-summary-count-yellow" data-toggle="tooltip"
              data-placement="bottom" title=""
              data-original-title=""></span>
        <span class="badge badge-danger badge-pill" id="{{prefix}}cap-summary-count-red" data-toggle="tooltip"
              data-placement="bottom" title=""
              data-original-title=""></span>
    </h4>
    <h4>
        <i class="fab fa-openid text-muted text-success" data-toggle="tooltip" data-placement="bottom" title=""
           data-original-title="" id="{{prefix}}cap-summary-AT"></i>
        <i class="fas fa-key text-muted text-success" data-toggle="tooltip" data-placement="bottom" title=""
           data-original-title="" id="{{prefix}}cap-summary-MT"></i>
        <i class="fas fa-info-circle text-muted text-success" data-toggle="tooltip" data-placement="bottom" title=""
           data-original-title="" id="{{prefix}}cap-summary-info"></i>
        <i class="fas fa-trash text-muted text-success" data-toggle="tooltip" data-placement="bottom" title=""
           data-original-title="" id="{{prefix}}cap-summary-revoke"></i>
        <i class="fas fa-cog text-muted text-success" data-toggle="tooltip" data-placement="bottom" title=""
           data-original-title="" id="{{prefix}}cap-summary-settings"></i>
    </h4>
</div>

<div id="{{prefix}}cap-body" class="{{#collapse.Capabilities}}collapse{{/collapse.Capabilities}}">
    <ul class="list-group bg-my_grey list-group-striped">
        {{#capabilities}}
            {{> capabilities-part}}
        {{/capabilities}}
    </ul>
</div>
