<li class="list-group-item capability">
    {{#ReadWriteCapability}}
        {{> capability-single-part}}
    {{/ReadWriteCapability}}
    <ul class="list-group">
        {{#Children}}
            {{> capabilities-part}}
        {{/Children}}
        {{#IsCreateMT}}
            <div id="{{prefix}}subtokenCapabilities">
                {{#subtoken-capabilities}}
                    {{> sub-capabilities-part}}
                {{/subtoken-capabilities}}
            </div>
        {{/IsCreateMT}}
    </ul>
</li>