<div id="at-config">
    <div class="form-row">
        <div class="form-group col">
            <label for="at-scope-table">Scopes</label>
            <table id="at-scope-table" class="table table-sm table-striped bg-my_grey" aria-describedby="at-scope-table_help">
                <tbody id="at-scopeTableBody"></tbody>
            </table>
            <small id="at-scope-table_help" class="form-text text-muted">The Access Token will only have these scope values.</small>
        </div>

        <div class="form-group col">
            <label for="at-audience-table">Audiences</label>
            <table id="at-audience-table" class="table table-sm table-striped bg-my_grey" aria-describedby="at-audience-table_help">
                <thead>
                <tr>
                    <th><input id="at-audienceInput" type="text" class="form-control add-list-input" value="" placeholder="https://..."></th>
                    <th class="align-middle"><button class="btn btn-small btn-add-list-item"><i class="fas fa-plus"></i></button></th>
                </tr>
                </thead>
                <tbody class="list-table" id="at-audienceTableBody">
                </tbody>
            </table>
            <small id="at-audience-table_help" class="form-text text-muted">The Access Token can only be used at these audiences.</small>
        </div>
    </div>
    <a href="#at" class="btn btn-primary mx-auto d-block" id="get-at">Get new Access Token</a>
</div>

<div id="at-result" class="d-none">
    <div id="at-result-color" class="alert" role="alert">
        <h4 id="at-result-heading-success" class="alert-heading d-none">Your Access Token</h4>
        <h4 id="at-result-heading-error" class="alert-heading d-none">Error</h4>
        <h4 id="at-result-heading-pending" class="alert-heading d-none">Getting your Access Token</h4>
        <div id="at-pending-spinner" class="spinner-border text-primary d-none" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <button class="btn btn-copy" id="at-result-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" data-clipboard-target="#at-result-msg">
            <i class="far fa-copy"></i>
        </button>
        <pre class="card-text" id="at-result-msg"></pre>
    </div>
    <a href="#at" class="btn btn-primary mx-auto d-block" id="next-at">Get another Access Token</a>
</div>
