<h4>Tags</h4>
<div class="mb-2">
    <div id="{{prefix}}create-mt-tags-container" class="mb-2">
        <span class="text-muted" id="{{prefix}}no-create-mt-tags">No tags added.</span>
    </div>
    <button type="button" class="btn btn-sm btn-outline-success" id="{{prefix}}add-create-mt-tag-btn">
        <i class="fas fa-plus"></i> Add Tag
    </button>
</div>
<small class="form-text text-muted">Tags help you organize and filter your mytokens.</small>
