<div class="footer">
    <div style="text-align: center;">
        <small style="color: #808080;">© 2022 KIT</small>
        <small style="margin-left: 20px;"><a href="/privacy">Privacy</a></small>
        <small style="margin-left: 20px;"><a href="https://mytoken-docs.data.kit.edu" target="_blank"
                                             rel="noopener noreferrer">Documentation</a></small>
        <small style="margin-left: 20px;"><a href="mailto:m-contact@lists.kit.edu"><i class="fas fa-at"></i> Developer
            Contact</a></small>
        <small style="margin-left: 20px;"><a href="https://github.com/oidc-mytoken/server" target="_blank"
                                             rel="noopener noreferrer"><i class="fab fa-github"></i>
            Source</a></small>
    </div>
</div>
