<div id="settings-grants">
    <table class="table table-striped bg-my_grey">
        <thead>
        <tr>
            <th>Grant Type</th>
            <th>Description</th>
            <th style="width: 50px;">Enabled</th>
        </tr>
        </thead>
        <tbody id="grants-table">
        {{#grants}}
            <tr>
                <td>{{DisplayName}}
                    <a class="float-right text-primary" href="{{Link}}" data-toggle="tooltip" data-placement="top"
                       title="Grant Type Settings">
                        <i class="fas fa-cog"></i>
                    </a></td>
                <td>{{Description}}</td>
                <td class="text-center">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input grant-enable"
                                   aria-describedby="{{Name}}-GrantHelp" id="{{Name}}-GrantEnable" name="{{Name}}">
                            <label class="custom-control-label" for="{{Name}}-GrantEnable"><span class="sr-only"></span></label>
                        </div>
                    </div>
                </td>
            </tr>

            <div class="modal fade" tabindex="-1" role="dialog" id="{{Name}}-grantEnableModal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Enable {{DisplayName}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Confirm to enable the '{{DisplayName}}' Grant Type.</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    onclick="enableGrant('{{Name}}')">Enable
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="{{Name}}-grantDisableModal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Disable {{DisplayName}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Confirm to disable the '{{DisplayName}}' Grant Type.</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    onclick="disableGrant('{{Name}}')">Disable
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/grants}}
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="error-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="error-modal-msg"></div>
        </div>
    </div>
</div>