<div class="modal fade" id="history-modal" tabindex="-1" role="dialog" aria-labelledby="history-modal-title"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-my_grey">
            <div class="modal-header">
                <h5 class="modal-title" id="history-modal-title">Event History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text" id="history-modal-msg"></p>
            </div>
        </div>
    </div>
</div>
