<h4>All My Mytokens</h4>
<button class="btn btn-reload" id="list-reload" data-toggle="tooltip" data-placement="bottom"
        title="Reload data">
    <i class="fas fa-sync"></i>
</button>
<button class="btn btn-copy copier d-none" id="list-copy" data-toggle="tooltip" data-placement="bottom"
        title="Copy to clipboard" data-clipboard-target="#list-msg">
    <i class="far fa-copy"></i>
</button>
<p class="card-text" id="list-msg"></p>

{{>history-modal}}
{{>notifications-subscribe-modal}}
