
<div class="card border-primary">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="session-info-tab" data-toggle="tab" href="#session" role="tab" aria-controls="session" aria-selected="true">Session Token Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Session Token History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tree-tab" data-toggle="tab" href="#tree" role="tab" aria-controls="tree" aria-selected="false">Session Token Subtokens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">All Mytokens</a>
            </li>
        </ul>
    </div>

    <div class="card-body tab-content">
        <div class="tab-pane show active" id="session" role="tabpanel" aria-labelledby="session-info-tab">
            <button class="btn btn-copy d-none" id="session-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" data-clipboard-target="#session-token-info-msg">
                <i class="far fa-copy"></i>
            </button>
            <pre class="card-text" id="session-token-info-msg"></pre>
            <a href="#" class="btn btn-primary" id="get-session-token-info">Get information about session's mytoken</a>
        </div>
        <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
            <button class="btn btn-copy d-none" id="history-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" data-clipboard-target="#history-msg">
                <i class="far fa-copy"></i>
            </button>
            <p class="card-text" id="history-msg"></p>
            <a href="#" class="btn btn-primary" id="get-history">Get Event-history for session's mytoken</a>
        </div>
        <div class="tab-pane" id="tree" role="tabpanel" aria-labelledby="tree-tab">
            <button class="btn btn-copy d-none" id="tree-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" data-clipboard-target="#tree-msg">
                <i class="far fa-copy"></i>
            </button>
            <p class="card-text" id="tree-msg"></p>
            <a href="#" class="btn btn-primary" id="get-tree">List subtokens for session's mytoken</a>
        </div>
        <div class="tab-pane" id="list" role="tabpanel" aria-labelledby="list-tab">
            <button class="btn btn-copy d-none" id="list-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard" data-clipboard-target="#list-msg">
                <i class="far fa-copy"></i>
            </button>
            <p class="card-text" id="list-msg"></p>
            <a href="#" class="btn btn-danger" id="get-list">List all mytokens</a>
        </div>
    </div>
</div>
