<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/{{#logged-in}}home{{/logged-in}}">
        <img src="{{instance-url}}/static/img/mytoken-grey.png" alt="mytoken" style="height: 50px;"/></a>
    {{^empty-navbar}}
        <ul class="navbar-nav mr-auto">
        </ul>
        {{#logged-in}}
            <ul class="navbar-nav">
                <li class="nav-item bg-my_blue_dark" id="settings">
                    <a id="settings-link" class="nav-link hover-item text-center" href="/settings">
                        <i class="fas fa-cog non-hover-text"></i>
                        <span class="hover-text" id="gear-text">Settings</span>
                    </a>
                </li>
                <li class="nav-item bg-danger" id="logout">
                    <a class="nav-link hover-item text-center" href="#" role="button" onclick="logout()">
                        <i class="fas fa-sign-out-alt non-hover-text"></i>
                        <span class="hover-text" id="logout-text">Sign out</span>
                    </a>
                </li>
            </ul>
        {{/logged-in}}
        {{^logged-in}}
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <select class="form-control fontawesome selectpicker" id="login-op-selector"
                            data-live-search="true" data-live-search-normalize="true" data-style="btn-secondary"
                            data-live-search-placeholder="Type to filter" data-title="Choose Provider to Sign in"
                            data-virtual-scroll="100" data-width="auto">
                        {{#providers}}
                            <option value="{{issuer}}">{{name}}{{#fed}} &#xf1e0;{{/fed}}</option>
                        {{/providers}}
                    </select>
                </li>
            </ul>

        {{/logged-in}}
    {{/empty-navbar}}
</nav>