<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/{{#logged-in}}home{{/logged-in}}"><img src="/static/img/mytoken.png" alt="mytoken" style="height: 50px;"/></a>
    {{^empty-navbar}}
        <ul class="navbar-nav mr-auto">
        </ul>
        {{#logged-in}}
            <ul class="navbar-nav">
                <li class="nav-item bg-my_blue_dark" id="settings">
                    <a class="nav-link hover-item text-center" href="/settings">
                        <i class="fas fa-cog non-hover-text"></i>
                        <span class="hover-text" id="gear-text">Settings</span>
                    </a>
                </li>
                <li class="nav-item bg-danger" id="logout">
                    <a class="nav-link hover-item text-center" href="#" role="button" onclick="logout()">
                        <i class="fas fa-sign-out-alt non-hover-text"></i>
                        <span class="hover-text" id="logout-text">Sign out</span>
                    </a>
                </li>
            </ul>
        {{/logged-in}}
        {{^logged-in}}
            <form class="form-inline" id="login-form" method="post" role="form">
                <input type="hidden" name="grant_type" value="oidc_flow"/>
                <input type="hidden" name="oidc_flow" value="authorization_code"/>
                <select class="form-control custom-select" name="oidc_issuer">
                    {{#providers}}
                    <option value="{{issuer}}">{{name}}</option>
                    {{/providers}}
                </select>
                <button class="btn btn-secondary" type="submit">Sign in</button>
            </form>

        {{/logged-in}}
    {{/empty-navbar}}
</nav>