{{#modify}}
    <div>
        <input id="management-code" type="hidden">

        <div class="alert border">
            <h5>Subscribed Notification Classes</h5>
            <ul class="list-group bg-my_grey list-group-striped">
                {{#notification-classes}}
                    {{> capabilities-part}}
                {{/notification-classes}}
            </ul>
        </div>

        <div class="alert border">
            <h5>Subscribed Tokens</h5>
            <table class="table table-hover table-grey">
                <thead>
                <tr>
                    <th style="min-width: 35%;">Token Name</th>
                    <th>Created</th>
                    <th>Created from IP</th>
                    <th>Expires</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="notifications-tokens-table">
                </tbody>
            </table>
        </div>

        <button role="button" class="btn btn-primary" id="btn-save-notification"><i class="fas fa-save"></i></button>
    </div>
{{/modify}}
