<div id="restr-easy-editor" class="mt-3">
    <h5>Restriction Clause</h5>
    <div class="btn-toolbar mb-2 justify-content-between" role="toolbar">
        <div>
            <div class="btn-group mr-2" id="restr-clauses" role="group" aria-label="Restriction clauses"></div>
            <div class="btn-group" role="group" aria-label="Add Restriction clause">
                <button id="new-restr-clause" type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div>
            <div class="btn-group float-right" role="group" aria-label="Delete Restriction clause">
                <button id="del-restr-clause" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group restr-nbf" style="position:relative">
            <label for="nbf">Not Before</label>
            <input type="text" class="form-control nbf datetimepicker-input" id="nbf" aria-describedby="nbf_help" data-toggle="datetimepicker" data-target="#nbf" placeholder="YYYY-MM-DD HH:mm:ss">
            <small id="nbf_help" class="form-text text-muted">The mytoken cannot be used before this time.</small>
        </div>

        <div class="form-group restr-exp" style="position:relative">
            <label for="exp">Expires At</label>
            <input type="text" class="form-control exp datetimepicker-input" id="exp" aria-describedby="exp_help" data-toggle="datetimepicker" data-target="#exp" placeholder="YYYY-MM-DD HH:mm:ss">
            <small id="exp_help" class="form-text text-muted">The mytoken cannot be used after this time.</small>
        </div>

        <div class="form-group restr-scope">
            <label for="scope-table">Scopes</label>
            <table id="scope-table" class="table table-condensed table-striped" aria-describedby="scope-table_help">
                <tbody id="scopeTableBody"></tbody>
            </table>
            <small id="scope-table_help" class="form-text text-muted">Access Tokens obtained with this mytoken can only have these scope values.</small>
        </div>

        <div class="form-group restr-audience">
            <label for="audience-table">Audiences</label>
            <table id="audience-table" class="table table-condensed table-striped" aria-describedby="audience-table_help">
                <thead>
                <tr>
                    <th><input id="audienceInput" type="text" class="form-control add-list-input" value="" placeholder="https://..."></th>
                    <th><button class="btn btn-small btn-add-list-item"><i class="fas fa-plus"></i></button></th>
                </tr>
                </thead>
                <tbody class="list-table" id="audienceTableBody">
                </tbody>
            </table>
            <small id="audience-table_help" class="form-text text-muted">Access Tokens obtained with this mytoken can only be used at these audiences.</small>
        </div>

        <div id="restr-ip" class="form-group restr">
            <label for="ip-table">IPs</label>
            <table id="ip-table" class="table table-condensed table-striped" aria-describedby="ip-table_help">
                <thead>
                <tr>
                    <th><input id="ipInput" type="text" class="form-control add-list-input" value="" placeholder="IP"></th>
                    <th><button class="btn btn-small btn-add-list-item"><i class="fas fa-plus"></i></button></th>
                </tr>
                </thead>
                <tbody class="list-table" id="ipTableBody">
                </tbody>
            </table>
            <small id="ip-table_help" class="form-text text-muted">The mytoken can only be used from these IP addresses or subnets.</small>
        </div>

        <div id="restr-geoip_allow" class="form-group restr">
            <label for="geoip-allow-table">Allowed request countries</label>
            <table id="geoip-allow-table" class="table table-condensed table-striped" aria-describedby="geoip-allow-table_help">
                <thead>
                <tr>
                    <th>
                        <select id="geoip-allowInput" class="select custom-select country-select add-list-input" data-live-search="true"></select>
                    </th>
                    <th><button class="btn btn-small btn-add-list-item"><i class="fas fa-plus"></i></button></th>
                </tr>
                </thead>
                <tbody class="list-table" id="geoip_allowTableBody">
                </tbody>
            </table>
            <small id="geoip-allow-table_help" class="form-text text-muted">The mytoken can only be used from these countries.</small>
        </div>

        <div id="restr-geoip_disallow" class="form-group restr">
            <label for="geoip-disallow-table">Forbidden request countries</label>
            <table id="geoip-disallow-table" class="table table-condensed table-striped" aria-describedby="geoip-disallow-table_help">
                <thead>
                <tr>
                    <th>
                        <select id="geoip-disallowInput" class="select custom-select country-select add-list-input" data-live-search="true"></select>
                    </th>
                    <th><button class="btn btn-small btn-add-list-item"><i class="fas fa-plus"></i></button></th>
                </tr>
                </thead>
                <tbody class="list-table" id="geoip_disallowTableBody">
                </tbody>
            </table>
            <small id="geoip-disallow-table_help" class="form-text text-muted">The mytoken cannot be used from these countries.</small>
        </div>

        <div class="form-group restr-usages_AT">
            <label for="usages_AT">Usages AT</label>
            <input type="number" class="form-control" id="usages_AT" aria-describedby="usages_AT_help" min=0>
            <small id="usages_AT_help" class="form-text text-muted">The mytoken can only be used this often to request access tokens.</small>
        </div>

        <div class="form-group restr-usages_other">
            <label for="usages_other">Usages Other</label>
            <input type="number" class="form-control" id="usages_other" aria-describedby="usages_other_help" min=0>
            <small id="usages_other_help" class="form-text text-muted">The mytoken can only be used this often for requests other than requesting access tokens.</small>
        </div>
    </div>
</div>
