<div id="{{prefix}}restr-easy-editor" class="mt-3">
    <h5>Restriction Clause</h5>
    <div class="btn-toolbar mb-2 justify-content-between" role="toolbar">
        <div>
            <div class="btn-group mr-2" id="{{prefix}}restr-clauses" role="group"
                 aria-label="Restriction clauses"></div>
            <div class="btn-group" role="group" aria-label="Add Restriction clause">
                <button id="{{prefix}}new-restr-clause" type="button" class="btn
                btn-primary{{#read-only}} d-none{{/read-only}}"
                        onclick="newRestrClause('{{prefix}}')" {{#read-only}}disabled{{/read-only}}>
                    <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div>
            <div class="btn-group float-right" role="group" aria-label="Delete Restriction clause">
                <button id="{{prefix}}del-restr-clause" type="button"
                        class="btn btn-danger{{#read-only}} d-none{{/read-only}}"
                        onclick="delRestrClause('{{prefix}}')" {{#read-only}}disabled{{/read-only}}>
                    <i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>

    <div>
        <div class="form-row">
            <div class="form-group restr-nbf col" style="position:relative;">
                <label for="{{prefix}}nbf">Not Before</label>
                <input type="text" class="form-control nbf datetimepicker-input" id="{{prefix}}nbf"
                       aria-describedby="{{prefix}}nbf_help"
                       data-toggle="datetimepicker" data-target="#{{prefix}}nbf" placeholder="YYYY-MM-DD HH:mm:ss"
                       {{#read-only}}disabled{{/read-only}}>
                <small id="{{prefix}}nbf_help" class="form-text text-muted">If set, the mytoken cannot be used before
                    this
                    time.</small>
            </div>

            <div class="form-group restr-exp col" style="position:relative;">
                <label for="{{prefix}}exp">Expires At</label>
                <input type="text" class="form-control exp datetimepicker-input" id="{{prefix}}exp"
                       aria-describedby="{{prefix}}exp_help"
                       data-toggle="datetimepicker" data-target="#{{prefix}}exp" placeholder="YYYY-MM-DD HH:mm:ss"
                       {{#read-only}}disabled{{/read-only}}>
                <small id="{{prefix}}exp_help" class="form-text text-muted">If set, the mytoken cannot be used after
                    this time.</small>
            </div>
        </div>

        <div class="form-group restr-scope">
            <label for="{{prefix}}scope-table">Scopes</label>
            <table id="{{prefix}}scope-table" class="table table-sm table-striped bg-my_grey"
                   aria-describedby="{{prefix}}scope-table_help">
                <tbody id="{{prefix}}scopeTableBody"></tbody>
            </table>
            <small id="{{prefix}}scope-table_help" class="form-text text-muted">If set, Access Tokens obtained with
                this mytoken can only have these scope values.</small>
        </div>

        <div class="form-group restr-audience">
            <label for="{{prefix}}audience-table">Audiences</label>
            <table id="{{prefix}}audience-table" class="table table-sm table-striped bg-my_grey"
                   aria-describedby="{{prefix}}audience-table_help">
                <thead class="{{#read-only}}d-none{{/read-only}}">
                <tr>
                    <th><input id="{{prefix}}audienceInput" type="text" class="form-control add-list-input" value=""
                               placeholder="https://..." {{#read-only}}disabled{{/read-only}}></th>
                    <th class="align-middle">
                        <button class="btn btn-small btn-add-list-item" instance-prefix="{{prefix}}"
                                {{#read-only}}disabled{{/read-only}}><i class="fas
                        fa-plus"></i></button>
                    </th>
                </tr>
                </thead>
                <tbody class="list-table restr" id="{{prefix}}audienceTableBody" instance-prefix="{{prefix}}">
                </tbody>
            </table>
            <small id="{{prefix}}audience-table_help" class="form-text text-muted">If set, Access Tokens obtained with
                this mytoken can only be used at these audiences.</small>
        </div>

        <div>
            <div>
                <label for="{{prefix}}select-ip-based-restr">Restrict request location based on</label>
                <select id="{{prefix}}select-ip-based-restr" class="select custom-select mb-2"
                        data-live-search="true" onchange="selectIPTable.call(this, '{{prefix}}')">
                    <option value="hosts">Hostname or IP addresses</option>
                    <option selected value="geoip_allow">Allowed countries</option>
                    <option value="geoip_disallow">Forbidden countries</option>
                </select>
            </div>
            <div class="ml-3">
                <div id="{{prefix}}restr-hosts" class="form-group restr d-none">
                    <label for="{{prefix}}hosts-table">Allowed requests from these hosts</label>
                    <table id="{{prefix}}hosts-table" class="table table-sm table-striped bg-my_grey"
                           aria-describedby="{{prefix}}hosts-table_help">
                        <thead class="{{#read-only}}d-none{{/read-only}}">
                        <tr>
                            <th><input id="{{prefix}}hostInput" type="text" class="form-control add-list-input" value=""
                                       placeholder="Hostname or IP" {{#read-only}}disabled{{/read-only}}></th>
                            <th class="align-middle">
                                <button class="btn btn-small btn-add-list-item" instance-prefix="{{prefix}}"
                                        {{#read-only}}disabled{{/read-only}}><i
                                        class="fas fa-plus"></i></button>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="list-table restr" id="{{prefix}}hostsTableBody" instance-prefix="{{prefix}}">
                        </tbody>
                    </table>
                    <small id="{{prefix}}hosts-table_help" class="form-text text-muted">If set, the mytoken can only be
                        used from these Hosts given by hostname, IP address or subnets.</small>
                </div>

                <div id="{{prefix}}restr-geoip_allow" class="form-group restr">
                    <label for="{{prefix}}geoip-allow-table">Allowed request countries</label>
                    <table id="{{prefix}}geoip-allow-table" class="table table-sm table-striped bg-my_grey"
                           aria-describedby="{{prefix}}geoip-allow-table_help">
                        <thead class="{{#read-only}}d-none{{/read-only}}">
                        <tr>
                            <th>
                                <select id="{{prefix}}geoip-allowInput"
                                        class="select custom-select country-select add-list-input"
                                        data-live-search="true" {{#read-only}}disabled{{/read-only}}></select>
                            </th>
                            <th class="align-middle">
                                <button class="btn btn-small btn-add-list-item" instance-prefix="{{prefix}}"
                                        {{#read-only}}disabled{{/read-only}}><i
                                        class="fas fa-plus"></i></button>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="list-table restr" id="{{prefix}}geoip_allowTableBody"
                               instance-prefix="{{prefix}}">
                        </tbody>
                    </table>
                    <small id="{{prefix}}geoip-allow-table_help" class="form-text text-muted">If set, the mytoken can
                        only be used from these countries.</small>
                </div>

                <div id="{{prefix}}restr-geoip_disallow" class="form-group restr d-none">
                    <label for="{{prefix}}geoip-disallow-table">Forbidden request countries</label>
                    <table id="{{prefix}}geoip-disallow-table" class="table table-sm table-striped bg-my_grey"
                           aria-describedby="{{prefix}}geoip-disallow-table_help">
                        <thead class="{{#read-only}}d-none{{/read-only}}">
                        <tr>
                            <th>
                                <select id="{{prefix}}geoip-disallowInput"
                                        class="select custom-select country-select add-list-input"
                                        data-live-search="true" {{#read-only}}disabled{{/read-only}}></select>
                            </th>
                            <th class="align-middle">
                                <button class="btn btn-small btn-add-list-item" instance-prefix="{{prefix}}"
                                        {{#read-only}}disabled{{/read-only}}><i
                                        class="fas fa-plus"></i></button>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="list-table restr" id="{{prefix}}geoip_disallowTableBody"
                               instance-prefix="{{prefix}}">
                        </tbody>
                    </table>
                    <small id="{{prefix}}geoip-disallow-table_help" class="form-text text-muted">If set, the mytoken
                        cannot be used from these countries.</small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group restr-usages_AT col">
                <label for="{{prefix}}usages_AT">Usages AT</label>
                <input type="number" class="form-control usages_AT" id="{{prefix}}usages_AT"
                       aria-describedby="{{prefix}}usages_AT_help" min=0 {{#read-only}}disabled{{/read-only}}>
                <small id="{{prefix}}usages_AT_help" class="form-text text-muted">If set, the mytoken can only be used
                    this often to request access tokens.</small>
            </div>

            <div class="form-group restr-usages_other col">
                <label for="{{prefix}}usages_other">Usages Other</label>
                <input type="number" class="form-control usages_other" id="{{prefix}}usages_other"
                       aria-describedby="{{prefix}}usages_other_help" min=0 {{#read-only}}disabled{{/read-only}}>
                <small id="{{prefix}}usages_other_help" class="form-text text-muted">If set, the mytoken can only be
                    used this often for requests other than requesting access tokens.</small>
            </div>
        </div>
    </div>
</div>
