<div class="modal fade" tabindex="-1" role="dialog" id="revoke-id-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Revoke Mytoken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to revoke this mytoken?
                </p>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="revoke-recursive">
                        Also revoke all subtokens
                    </label>
                </div>
                <input id="revoke-id" type="text" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        onclick="revokeID()">Revoke
                </button>
            </div>
        </div>
    </div>
</div>
