<div>
    <h4>Token Rotation</h4>
    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" aria-describedby="rotationATHelp" id="rotationAT">
            <label class="custom-control-label" for="rotationAT">On Access Token requests</label>
        </div>
        <small id="rotationATHelp" class="form-text text-muted">If the mytoken is used to request an Access Token, a new mytoken will be returned.</small>
    </div>

    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" aria-describedby="rotationOtherHelp" id="rotationOther">
            <label class="custom-control-label" for="rotationOther">On other requests</label>
        </div>
        <small id="rotationOtherHelp" class="form-text text-muted">If the mytoken is used for other requests than requesting an Access Token, a new mytoken will be returned.</small>
    </div>

    <div class="form-group">
        <label for="rotationLifetime">Lifetime</label>
        <input type="number" class="form-control" id="rotationLifetime" aria-describedby="rotationLifetimeHelp" min=0 value=0 disabled>
        <small id="rotationLifetimeHelp" class="form-text text-muted">The lifetime of a single Mytoken given in seconds. (Infinite lifetime if set to 0)</small>
    </div>

    <div class="form-group">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" aria-describedby="rotationAutoRevokeHelp" id="rotationAutoRevoke" disabled>
            <label class="custom-control-label" for="rotationAutoRevoke">Automatic revocation</label>
        </div>
        <small id="rotationAutoRevokeHelp" class="form-text text-muted">If the mytoken server detects a misuse, the mytoken will be automatically revoked.</small>
    </div>
</div>
