<table class="table table-striped bg-my_grey">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th>ICS Link</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="calendars">
    <tr id="noCalendars">
        <td colspan="4" class="text-muted text-center">No calendar created.</td>
    </tr>
    <tr>
        <td colspan="4" class="text-center">
            <button class="btn btn-success" role="button" id="new-calendar-btn"><i class="fas fa-plus-circle"> New
                Calendar</i></button>
        </td>
    </tr>
    </tbody>
</table>
