<link rel="stylesheet" href="/static/css/colors.css">
{{#logged-in}}
    <link rel="stylesheet" href="/static/css/mytoken-loggedin.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap4-toggle.min.css">
{{/logged-in}}
{{#consent}}
<link rel="stylesheet" href="/static/css/lib/bootstrap4-toggle.min.css">
{{/consent}}
{{#restr-gui}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/restr-gui.css">
{{/restr-gui}}
