<li class="list-group-item capability subtoken-capability bg-secondary">
    {{#ReadWriteCapability}}
        {{> sub-capability-single-part}}
    {{/ReadWriteCapability}}
    <ul class="list-group">
        {{#Children}}
            {{> sub-capabilities-part}}
        {{/Children}}
    </ul>
</li>
