<table class="table table-striped bg-my_grey">
    <thead>
    <tr>
        <th>Tag</th>
        <th>Name</th>
        <th>Color</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="{{prefix}}tags">
    <tr id="{{prefix}}noTags">
        <td colspan=4"
            class="text-muted text-center">No tags created.
        </td>
    </tr>

    </tbody>
</table>