<div id="tags-notifications">
    <h3>Tags</h3>

    {{>tags}}


    <div class="row px-3">
        <button class="btn btn-success new-tag-btn col"
                onclick="$('#{{prefix}}new-tag-modal').modal()"
                role="button" id="{{prefix}}new-tag-btn">
            <i class="fas fa-plus-circle"> New Tag <i class="fas fa-tag"></i></i>
        </button>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog"
         id="{{prefix}}new-tag-modal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Tag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Create a new tag with the name:
                    <input type="text" class="form-control" id="{{prefix}}tag-name-input">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success"
                            data-dismiss="modal" onclick="sendCreateTagRequest('{{prefix}}')">Create <i class="fas
                        fa-tag"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>