    [Unit]
    Description=mytoken
    After=network.target auditd.service

    [Service]
    ExecStart=/usr/bin/mytoken-server
    ExecReload=/bin/kill -HUP $MAINPID
    WorkingDirectory=/
    StandardOutput=inherit
    StandardError=inherit
    KillMode=process
    Restart=always
    RestartPreventExitStatus=255
    Type=simple

    [Install]
    WantedBy=multi-user.target
