.hover-text {
    display: none;
}

.hover-item:hover .hover-text {
    display: inline-block;
}

.hover-item:hover .non-hover-text {
    display: none;
}

span.user-agent i + i {
    padding-left: 1em;
}

@media (min-width: 1440px) {
    .break-out {
        margin: -1.25rem -125px;
        padding: 1.25rem;
    }
}

@media (min-width: 1600px) {
    .break-out {
        margin: -1.25rem -225px;
        padding: 1.25rem;
    }
}

.btn-copy {
    position: absolute;
    margin-top: -28px;
    right: -8px;
}

.btn-copy-inline {
    position: absolute;
    right: 8px;
}

#sshHostConfigCopy {
    margin-top: 0;
    right: 15px;
}

.btn-reload {
    position: absolute;
    margin-top: -28px;
    right: 14px;
}

.token-fold {
    cursor: pointer;
    user-select: none;
}