.table-item {
    padding: 0.375rem 0.75rem;
}

.toggle.restr-editor, .toggle-on.restr-editor, .toggle-off.restr-editor {
    width: 110px !important;
}

.btn-add-list-item {
    padding: 0;
}

.btn-delete-list-item {
    padding: 0;
}
