.navbar {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.dropdown-menu {
    font-size: 1rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;    /* Footer height + padding */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

.table-grey {
    background-color: #63778a;
}