Your mytoken was used for something we should notify you about. Here are the details:

{{index . "txt-table"}}

If you want to manage this notification subscription, you can do so at: {{index . "management-url"}}

Sincerely,
the mytoken notification bot.
