You have been successfully subscribed to receive notifications for {{#mtid}}your mytoken {{#token-name}}'{{.}}'{{/token-name}} with the mom id '{{.}}'{{/mtid}}{{^mtid}}all your mytokens{{/mtid}} on {{issuer-url}}.
You will be notified about the following things:
{{#notification-classes}}
    - {{Name}}
{{/notification-classes}}

If you want to manage this notification subscription, you can do so at: {{management-url}}

Sincerly,
the mytoken notification bot.
