Your mytoken was used for something we should notify you about. Here are the details:

{{txt-table}}

If you want to manage this notification subscription, you can do so at: {{management-url}}

Sincerly,
the mytoken notification bot.
