<p>
    Your email address was entered to be used for mytoken notifications at <a
        href="{{index . "issuer"}}">{{index . "issuer"}}</a>.<br>
You must verify that this email address belongs to you. Please verify by clicking on the following link or copy it to
the address bar of your browser:
</p>

<p>
<a href="{{index . "link"}}">{{index . "link"}}</a>
</p>

Sincerely,<br>
the mytoken mail sender bot.
