<p>
    Your email address was entered to be used for mytoken notifications at <a
        href="{{issuer}}">{{ issuer }}</a>.<br>
You must verify that this email address belongs to you. Please verify by clicking on the following link or copy it to
the address bar of your browser:
</p>

<p>
<a href="{{{link}}}">{{{ link }}}</a>
</p>

Sincerly,<br>
the mytoken mail sender bot.
