Your email address was entered to be used for mytoken notifications at {{index . "issuer"}}.
You must verify that this email address belongs to you. Please verify by clicking on the following link or copy it to
the address bar of your browser:

{{index . "link"}}

Sincerely,
the mytoken mail sender bot.
