<div class="container-fluid p-5">
<h3 class="text-center">Approval Required</h3>
<p class="text-center lead">
    Do you want to create a mytoken with the following properties?
</p>

<div class="row">
    <div class="col">
        <div class="form-group alert border">
            <h4>Token Name</h4>
            <label for="tokenName">Token Name</label>
            <input type="text" class="form-control" id="tokenName" aria-describedby="tokenNameHelp" placeholder="Name">
            <small id="tokenNameHelp" class="form-text text-muted">Give the Mytoken a name, so you can identify it better.</small>
        </div>

        <div class="alert border">
            {{> rotation}}
        </div>

    </div>
    <div class="col">
        <div class="alert border">
            {{> capabilities}}
        </div>
    </div>
    <div class="col">
        <div class="alert border">
            {{> restrictions}}
        </div>
    </div>
</div>

<div class="text-center">
    <h4>Do you want to approve this mytoken?</h4>
    <button class="btn btn-primary" role="button" onclick="approve()">Continue</button>
    <button class="btn btn-secondary" role="button" onclick="cancel()">Cancel</button>
</div>

{{> error-message }}
</div>

<script>
    const issuer = "{{iss}}";
    const supported_scopes = "{{supported_scopes}}".split(" ");
    const tokenName = "{{token-name}}";
        {{#rotation}}
        const rot_onAT = {{rotation.OnAT}};
        const rot_onOther = {{rotation.OnOther}};
        const rot_lifetime = {{rotation.Lifetime}};
        const rot_autoRevoke = {{rotation.AutoRevoke}};
        {{/rotation}}
    const rot_null = {{^rotation}}true{{/rotation}}{{#rotation}}false{{/rotation}};
    let checkedCapabilities = [];
    let checkedSubtokenCapabilities = [];
        {{#checked-capabilities}}
        checkedCapabilities.push("{{.}}");
        {{/checked-capabilities}}
        {{#checked-subtoken-capabilities}}
        checkedSubtokenCapabilities.push("{{.}}");
        {{/checked-subtoken-capabilities}}
</script>
