<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab"
                   aria-controls="about" aria-selected="true">About Web</a>
            </li>
            {{#logged-in}}
                <li class="nav-item">
                    <a class="nav-link" id="at-tab" data-toggle="tab" href="#at" role="tab" aria-controls="at"
                       aria-selected="false">Access Token</a>
                </li>
            {{/logged-in}}
            <li class="nav-item">
                <a class="nav-link" id="mt-tab" data-toggle="tab" href="#mt"
                   role="tab" aria-controls="mt" aria-selected="false">Create Mytoken</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                   aria-selected="false">Tokeninfo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tc-tab" data-toggle="tab" href="#transfer" role="tab"
                   aria-controls="transfer" aria-selected="false">Exchange Transfercode</a>
            </li>
            {{#logged-in}}
                <li class="nav-item">
                    <a class="nav-link" id="list-mts-tab" data-toggle="tab" href="#list-mts" role="tab"
                       aria-controls="list-mts" aria-selected="false">My Mytokens</a>
                </li>
            {{/logged-in}}
            {{#logged-in}}
                <li class="nav-item">
                    <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab"
                       aria-controls="notifications" aria-selected="false">Notifications</a>
                </li>
            {{/logged-in}}
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            {{> about-web}}
        </div>
        {{#logged-in}}
            <div class="tab-pane" id="at" role="tabpanel" aria-labelledby="at-tab">
                {{> create-at}}
            </div>
        {{/logged-in}}
        <div class="tab-pane bg-secondary break-out" id="mt" role="tabpanel" aria-labelledby="mt-tab">
            <div class="bg-secondary ">
                {{> create-mt}}
            </div>
        </div>
        <div class="tab-pane" id="info" role="tabpanel" aria-labelledby="info-tab">
            {{> tokeninfo}}
        </div>
        <div class="tab-pane" id="transfer" role="tabpanel" aria-labelledby="tc-tab">
            {{> transfercode}}
        </div>
        {{#logged-in}}
            <div class="tab-pane" id="list-mts" role="tabpanel" aria-labelledby="list-mts-tab">
                {{> list-mts}}
            </div>
        {{/logged-in}}
        {{#logged-in}}
            <div class="tab-pane" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                {{> notifications}}
            </div>
        {{/logged-in}}
    </div>
</div>


{{>revocation-modal}}
{{>history-modal}}
{{> error-message }}

{{^logged-in}}
    <script>
        let cookieLifetime = {{cookie-lifetime}};
    </script>
{{/logged-in}}
