<h1>Welcome to the mytoken service</h1>

<p>
    This is a demo instance of the mytoken service. This service is currently under active development.<br>
    For more information refer to: <a href="https://github.com/oidc-mytoken/server">https://github.com/oidc-mytoken/server</a>
</p>
<p>
    On this web page you can easily obtain OpenID Connect access tokens. You can do the same on the command line with
    our
    <a href="https://github.com/oidc-mytoken/client">command line client</a>.
</p>

<script>
    let cookieLifetime = {{cookie-lifetime}};
</script>