Your mytoken with the name '{{Name}}' will expire in {{ExpiresIn}}.
Here is some data about this mytoken:

{{#Name}}
    Name: {{Name}}
{{/Name}}
Created: {{Created}}
Expires: {{ExpiresAt}}

If you want to create a new mytoken with the same properties you have the following options:
{{#RecreateURL}}
    - Create a new mytoken with the same properties and unsubscribe from further notifications by clicking on {{.}}
{{/RecreateURL}}
    - Paste the mytoken at {{TokeninfoURL}} and click on the 'Create a mytoken with the same properties' button.
    - Create a new mytoken at {{CreateMTURL}} and select the properties you want

To unsubscribe from further notifications open: {{UnsubscribeURL}}

Kind regards,
the mytoken notification service.