<h3>Notification Management</h3>
<p class="card-text" id="notifications-msg"></p>
{{>notifications/management}}
{{>notifications/delete-notification-modal}}
{{>notifications/new-notification-modal}}
{{>error-message}}
