<h3>Success!</h3>
{{#application}}
    <h4>Please go back to '{{application}}'.</h4>
{{/application}}
{{^application}}
    <h4>Please go back to the application that started this flow.</h4>
{{/application}}
