<h2>Mytoken Privacy Policy and Description</h2>

<h3>Description of the service</h3>
<div>
    <p>
        The service <strong>Mytoken</strong> is a service providing easy access to OpenID Connect access tokens.
        The service is operated by the <a href="{{homepage}}">{{name}}</a>.
    </p>
</div>

<h3>What personal data is processed and why</h3>
<div>
    <p>
        Users of the mytoken service use it to manage and obtain OpenID Connect tokens. Therefore, mytoken receives
        these tokens and stores them. All tokens are only stored encrypted.<br>
        Mytoken does <strong>not</strong> process personal information such as names or email addresses.
    </p>
</div>

<div>
    <p>
        The data processed (OpenID Connect tokens) is necessary in order for the user to obtain access tokens.
    </p>
    <p>
        Usage of the mytoken service generates logs, which are retained. These records contain:
    </p>
    <ul>
        <li>The network (IP) address from which you access mytoken</li>
        <li>The user agent used to connect to the mytoken service</li>
        <li>Time and date of access</li>
        <li>Details of actions you perform</li>
    </ul>
    <p>
        This data is necessary to ensure that the mytoken service is reliable and secure, and are used for assisting in the analysis of reported problems and responding to security incidents.
        Part of this data is also used, so users can check how their mytoken tokens were used.
    </p>
    <p>
        The legal basis for processing the personal data is legitimate interest, Article 6.1(f), <a href="https://eur-lex.europa.eu/eli/reg/2016/679/oj">GDPR</a>.
    </p>
</div>

<h3>Disclosure of personal data</h3>
<div>
    <p>
        The collected personal data is only accessible to the authorised
        personnel of {{name}}, and then only for reasons outlined above.
        The processed OpenID Connect tokens are secured in a way that they are not accessible by the personnel.
        Personal data is not regularly disclosed to third parties.
    </p>
</div>

<h3>How to access, rectify, and delete personal data</h3>
<div>
    <p>
        For the data retained and processed by mytoken, you may use service manager contacts (provided below) to access
        or rectify information. To rectify the data released by an OpenID provider, contact the providers' operators.
    </p>
</div>

<h3>Data protection code of conduct</h3>
<div>
    <p>
        Personal data will be protected according to the <a href="https://www.geant.org/uri/Pages/dataprotection-code-of-conduct.aspx">Code of Conduct for Service Providers</a>, a common standard for the
        research and higher education sector to protect the users' privacy.
    </p>
</div>

<h3>How long your personal data will be retained</h3>
<div>
    <p>
        Tokens and data related to them are stored until the tokens are revoked or you delete your account.
        Network logs are deleted, at the latest, 12 months after the users' last use of the service.
    </p>
</div>

<h3>Contact information</h3>
<div>
    <p>
        Service Operator: <a href="mailto:{{contact}}">{{contact}}</a></br>
        Service Operator Privacy: <a href="mailto:{{privacy-contact}}">{{privacy-contact}}</a></br>
    </p>
</div>
